{
  "stage": 2,
  "env": {
    "development": {
      "plugins": [
        "react-transform"
      ],
      "extra": {
        "react-transform": [{
          "target":  "react-transform-hmr",
          "imports": ["react"],
          "locals":  ["module"]
        }]
      }
    }
  }
}
