node_modules

coverage

dist
lib
es

# Yarn
.cache
.yarnrc
.yarn/cache/
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
*.tgz

website/.yarn/
docs/.yarn/

# yalc
.yalc
yalc.lock

website/translated_docs
website/build/
website/node_modules
website/i18n/*

tsconfig.vitest-temp.json

.vscode
