{
  "stage": 2,
  "plugins" : [
    "react-transform"
  ],
  "extra"  : {
    "react-transform": [{
      "target"  : "react-transform-webpack-hmr",
      "imports" : ["react"],
      "locals"  : ["module"]
    }]
  }
}
