/* your custom css */

header.postHeader:empty {
  display: none;
}

header.postHeader:empty + article h1 {
  margin-top: 0;
}

a, a:hover {
  /* add underlines for a11y */
  text-decoration: underline;
  /* blue links - kickin' it old-school! */
  color: blue;
}

a:visited {
  color: $primaryColor;
}

.fixedHeaderContainer header .headerTitleWithLogo {
  color : white;
}

.navigationSlider .slidingNav ul a {
  color : white !important;
}

.nav-footer .copyright,
.nav-footer .sitemap a {
  /* increase link contrast */
  color: #dfe2e5;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}