body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn {
  border-style: none;
  border-radius: 2px;
  font-weight: 800;
  padding: 3px 9px;
  cursor: pointer;
}

.btn-remove {
  background: none;
  color: #a3b2bb;
}

.btn-counter {
  background: linear-gradient(0deg, #764abc 11%, rgb(217 79 255) 100%);
  color: #fff;
}
